@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 8px 0px 0px 8px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
}

.container {
  display: flex;
  padding: 8px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  background: #494949;
}

.title {
  font-size: 3.5rem;
  font-weight: 800;
}

.character__card {
  margin-top: 50px;
  display: flex;
  color: white;
  width: 450px;
  background: #446653;
  gap: 25px;
  border-radius: 8px;
  box-shadow: 5px 5px 0px 2px #000000;
}

.container{
  padding-bottom: 50px;
}

.character__card img {
  width: 200px;
}

.character__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info__basics {
  margin-top: 10px;
  font-size: 1.125rem;
  /* font-weight: bold; */
}

.live_or_dead {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.25rem;
}

.live_or_dead::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #363636;
}

.alive::before {
  background: rgb(17, 209, 17);
}

.dead::before {
  background: #bb2323;
}

.info__basics h2 {
  font-size: 1.6rem;
}

.info__location p:first-child {
  color: #a1a1a1;
  font-weight: 500;
  font-size: 1rem;
}

.container__btn {
  width: 100%;
  background: #446653;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 20px 0px;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  background: #021153;
  padding: 20px 30px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}